extends layout

block content
  h1= title
  p#intro Welcome to #{title}: The Social Game played together with friends!

  div#game
    button#startgame.btn.btn-primary Start game
    h1#voicepermission Please allow sound recording to proceed.
    div#gamecontainer
      h3 I have never
      h4
        div#questioncontainer
      button#ask.btn.btn-primary Ask this question
      button#nextbutton.btn.btn-primary Next question
      h4#micicon
        i.fa.fa-microphone




  //-
    form(method='POST' action='/new-question')
      div.form-group
        label(for='Question') Your Question:
        input#question.form-control(type='text', placeholder='Your Question' name='name')
      button.btn.btn-primary(type='submit') Create New Question
