doctype html
html
  head
    title= title
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='/javascripts/bower_components/microm/dist/microm.min.js')
    script(src='/javascripts/index.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/magic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  
  body
    block content
    block foot
      #footer
        p &copy; Developed by: Team Rocket @ Start Hack
